@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.ui-chat-box::-webkit-scrollbar{
    display: none;
}